@model QuestionListDto

<div style="display: flex; flex-direction:row; justify-content: space-evenly">

    <div class="card border-success mb-3" style="max-width: 18rem;">
        <div class="card-header">En Çok Seçilen Seçenek</div>
        <div class="card-body text-secondary" style="display: flex; justify-content:center; flex-direction:column; align-items:center">
            <p class="card-title">%@Model.Answers.Where(i=>i.IsItMostSelected==true).FirstOrDefault().ChoiceRate Seçilme Oranı</p>
            <h2 class="card-text" style="font-size:large">@Model.Answers.Where(i=>i.IsItMostSelected==true).FirstOrDefault().Description</h2>
        </div>
    </div>

    <div class="card border-secondary mb-3" style="max-width: 18rem;">
        <div class="card-header">En Az Seçilen Seçenek</div>
        <div class="card-body text-secondary" style="display: flex; justify-content:center; flex-direction:column; align-items:center">
            <p class="card-title">%@Model.Answers.Where(i=>i.IsItLeastSelected==true).FirstOrDefault().ChoiceRate Seçilme Oranı</p>
            <h2 class="card-text" style="font-size:large">@Model.Answers.Where(i=>i.IsItLeastSelected==true).FirstOrDefault().Description</h2>
        </div>
    </div>

</div>




@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
