@model QuestionListDto



<div class="accordion" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#a_@Model.Id" aria-expanded="false" aria-controls="collapseTwo">
                Girilen Tüm Cevapları Görüntüle
            </button>
        </h2>
        <div id="a_@Model.Id" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <ul class="list-group list-group-flush">
                    @if (Model.Answers != null)
                    {
                        @foreach (var answer in Model.Answers)
                        {
                            <li class="list-group-item">@answer.Description</li>
                        }
                    }
                    else
                    {
                        <div class="alert alert-danger" role="alert">
                           Bu soruyu cevaplayan kullanıcı olmadı!!!
                        </div>
                    }
                </ul>
            </div>
        </div>
    </div>
    
</div>

