@model List<AppUser>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<a asp-action="Create" asp-controller="Role" class="d-inline-block my-2">Yeni Rol ekle</a>
<table class="table table-hovered table-bordered table-sm">
    <thead>
        <tr>
            <th>Mail</th>
            <th>İsim</th>
            <th>Soyisim</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.UserName</td>
                <td>@user.Name</td>
                <td>@user.Surname</td>
                <td>
                    <a asp-action="AssignRole" asp-route-id=@user.Id>Assign Role</a>
                </td>
            </tr>
        }
    </tbody>

</table>