@model AnswerCreateDto
@{
    ViewData["Title"] = "AnswerCreate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="p-5 mt-5">
    <div class="p-5 mt-5" style="border: solid thin red; border-radius:20px" class="mb-3">
        <form asp-controller="Form" asp-action="AnswerCreate" method="post" class="row gy-2 gx-3 align-items-center">

            <div class="mb-1">
                <label class="form-label">Cevabı Girin</label>
                <input asp-controller="Form" asp-action="AnswerCreate" asp-for="Description" class="form-control" rows="3">
                <input type="hidden" asp-action="AnswerCreate" asp-controller="Form" asp-for="QuestionId" />
                <span asp-validation-for="Description" class="text-danger"></span>

            </div>


            <div class="mt-2">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" asp-controller="form" asp-action="AnswerCreate" asp-for="IsItTrueAnswer">
                    <label class="form-check-label" for="flexCheckDefault">
                        Doğru Cevap
                    </label>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Cevap Ekle</button>
        </form>
    </div>
</div>



