@model QuestionCreateDto
@{
    ViewData["Title"] = "QuestionCreate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="p-5 mt-5">
    <div class="p-5 mt-5" style="border: solid thin red; border-radius:20px" class="mb-3">
        <form asp-controller="Form" asp-action="QuestionCreate" method="post" class="row gy-2 gx-3 align-items-center">
            
            <div class="mb-1">
                <label class="form-label">Soru Başlığını Giriniz</label>
                <input asp-controller="Form" asp-action="QuestionCreate" asp-for="@Model.QuestionTitle" class="form-control" rows="3">
                <input type="hidden" asp-action="QuestionCreate" asp-controller="Form" asp-for="@Model.FormId" />
                <span asp-validation-for="QuestionTitle" class="text-danger"></span>

            </div>

            <div class="mt-1">
                <label class="mb-1">Soru Tipi</label>
                <select class="form-select" asp-for="@Model.QuestionType">
                   
                    <option selected>Soru Tipini Seçiniz</option>
                    <option value="0"> Coktan Secmeli</option>
                    <option value="1">Kisa Yanit</option>
                    <option value="2">Paragraf</option>
                    <option value="3">Onay Kutuları</option>
                    <option value="4">Varlıktan Yükle</option>
                </select>
            </div>

            <div class="mt-2">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" asp-controller="Form" asp-action="QuestionCreate" asp-for="@Model.IsUnique">
                    <label class="form-check-label">
                        Eşsiz Cevap
                    </label>
                </div>
            </div>
            <button  type="submit" class="btn btn-primary">Soru Ekle</button>
        </form>
    </div>
</div>


